*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    
}

body{
    background: #CDDDDD;
    font-family: 'Ubuntu', sans-serif;
}

a{
   color: #CDDDDD;
}

.red{
    background: red;
}
.green{
    background: green;
}

.center{
    margin: 0px auto;
    text-align: center;
    display: block;
}

.img_center{
    margin: 0px auto;
    display: block;
}

.ancla{
    opacity: 100%;
}



header{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 50px;
    top: 0px;
    background:  rgba(64, 121, 140, 1);
    box-shadow: 0px 1px 7px #5F5449;
}

header nav{
    width: 100%;
    padding-left: 30px;
}

header nav ul li {
    float: left;
    list-style: none;
    margin-top: 17px;
    margin-right: 30px;
    color: #CDDDDD;
    
}

.liHover:hover{
    color: #ECF8F8;
    border-block-end: 1px solid #ECF8F8;
    cursor: pointer;
}

#contenedorPrincipal{
    position: relative;
    height: auto;
    width: 60%;
    color: #5F5449;
    margin-top: 100px;

    
}

.avatarFondo{
    position: relative;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    z-index: 0;
    border: 7px solid #CFD4C5;
    box-shadow: 0px 1px 20px #5F5449;
}
.avatarDelante{
    position: relative;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    background: #ffff;
    border: 7px solid #ECF8F8;
    z-index: 2;
    top: -174px;
}

#tarjetaPrincipal{
    height: auto;
    overflow: hidden;
    margin-bottom: 60px;
    padding-top: 20px;
   
}

#contenido{
    position: absolute;
    border-radius: 5px;
    height: auto;
    width: 100%;
    z-index: 1;
    top: 80px;
    padding-top:100px;
    padding-bottom: 20px;
    background: #ECF8F8;
    box-shadow: 0px 1px 20px #5F5449;
    line-height: 2.5em;  
     
}
.clear{
    clear:both;
}
.tarjeta{
    position: relative;
    z-index: 1;
    border-radius: 5px;
    height: auto;
    width: 100%;
    background: #ECF8F8;
    box-shadow: 0px 1px 20px #5F5449;
    line-height: 2.5em;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-top: 20px;  
    overflow: hidden;
    
}

.icono{
    width: 100px;
    height: 100px;
}

.texto{
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}

.lista_iconos{
    height: 80px;
    padding: 10px;
}

